body {
	background-image: url(imgs/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg);
	background-position: center;
	background-size: contain;
	/* background-repeat: no-repeat; */
}

a {
	text-decoration: none;
}

h1 {
	text-transform: uppercase;
	padding: 1rem;
	text-align: center;
	margin-top: 2rem;
	border-radius: 1rem;
	background-image: url(imgs/andrew-neel-z55CR_d0ayg-unsplash\ 1.jpg);
	background-position: center;
	background-size: cover;
	color: whitesmoke;
}

form {
	font-family: "Pacifico";
}

form .form-control {
	max-width: 20rem;
}

#clear {
	margin-top: 1rem; /* clear button has top space */
}

h5 {
	/* color: #4f092b; */
	background-color: #4f092b;
	padding: 0.8rem;
	border-radius: 10px;
}

h5.error-msg {
	color: whitesmoke;
}

/* results of series and actors */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.7rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

@media (max-width: 600px) {
	.grid {
		display: block; /* responsive */
	}
	#results div.col-md-12, #results-actors div.col-md-12 { /* cards have a gap */
		margin-bottom: 1rem;
	}
}

@media (min-width:992px) {
	div.col-lg-4 img.img-fluid {
		height: 295px; /* no img stretching */
	}
}

div#results-card, img.img-fluid {
	background: #d35115;
	color: whitesmoke;
	border-radius: 50px;
}

img.img-fluid {
	margin: 0.8rem;
	margin-left: 1.1rem;
}

/* Actors' heading */
h2.actor-h {
	text-align: center;
	font-size: 2.5rem;
	background-color: rgb(205, 188, 188);
	color: #350026;
	min-width: 15rem;
	padding: 1.2rem;
	border-radius: 10px;
}

#scrollButton {
	position: fixed;
	right: 2rem;
	bottom: 1rem;
	color: rgb(245, 245, 245);
	font-size: 1.8rem;
	display: none;
}